# Python virtual environment
venv/
env/
.env
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Instance specific files
instance/
!instance/.gitkeep

# IDE settings
.vscode/
.idea/

# System files
.DS_Store

# Voice messages
voice_messages/
!voice_messages/.gitkeep